* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background-color: #121212;
    margin:20px;
}
button:active{
    transform: scale(0.9);
    transition-duration: 0.1s;
}
  
.chatbox {
   background-color: #121212;
   display: flex;
   justify-content: center;

}

.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #222222;
    transition: all .5s ease-in-out;
    z-index: 123456;
    opacity: 1;
    height: 95vh;
    width: 36em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-duration: 1s;
    animation-name: loadingAnimation;
    animation-iteration-count: 1;
    
}

.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    padding: 0 20px;

}

.chatbox__header {
    background: #3d3d3d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:5px;

    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
    
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}



.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 6px 12px;
    max-width: 70%;
    max-width: 60.6%;
    width: fit-content;

}

.messages__item--visitor {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: auto;

}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #3d3d3d;
    color: white;
    margin-left: auto;
}

.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background: #3d3d3d;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 85%;
    border:none;
    padding: 9.5px 10px;
    border-radius: 10px;
    text-align: left;
    font-family: "poppins";
}

.chatbox__send--footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5.3em;
    background-color: #121212;
    padding:10px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    font-family: "poppins";

}


.chatbox__button button {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@keyframes loadingAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}